.dockerignore
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python

**/.env.example
pip-log.txt
.tox
.coverage
.coverage.*
.cache
coverage.xml
*,cover
*.log
.git
.gitignore
LICENSE.md
README.md
npm-debug.log
**/node_modules/
**/dist/
.next/
.trunk/
.vercel/
.vscode/
.idea/
.DS_Store
.idea/
.DS_Store


